page-sponsers {


    img{
        height: 20vw;
    }

    @media only screen and (min-width: 800px) {
    ion-card{
        height:60vh;
    }
}

ion-content{
    // background-color: #0e7caf  !important;

    background-color: #4f94b4  !important;
}


}
