<!--
  Generated template for the WorkshopPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <!-- <ion-navbar>
    <ion-title>Events</ion-title>
  </ion-navbar> -->
</ion-header>


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>


<ion-content padding>

  
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;color:#fff !important; background-color:#050c46 !important" id="mySidebar"><br>
  <a href="javascript:void(0)" (click)="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h2 class="w3-padding-64" style="font-weight:bold;color:white;"><b>Mayukh</b></h2>
  </div>
  <div class="w3-bar-block">
    <a href="#" (click)="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a> 
    <a (click)="scrollTo('maths')" class="w3-bar-item w3-button w3-hover-white">Maths</a> 
    <a (click)="scrollTo('aviation')" class="w3-bar-item w3-button w3-hover-white">Aviation</a>
    <a (click)="scrollTo('electronics')" class="w3-bar-item w3-button w3-hover-white">Electronics</a>
    <a (click)="scrollTo('phychem')" class="w3-bar-item w3-button w3-hover-white">Physics and Chemistry</a>
    <a (click)="scrollTo('cs')" class="w3-bar-item w3-button w3-hover-white">Computer Science</a>
    <a (click)="scrollTo('fun')" class="w3-bar-item w3-button w3-hover-white">Fun</a>
    <a (click)="TakeTo()" class="w3-bar-item w3-button w3-hover-white">Schedule</a>
    <a (click)="logout()" class="w3-bar-item w3-button w3-hover-white">Logout</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-xlarge w3-padding" style="color:#fff !important; background-color:#050c46 !important">
  <a href="javascript:void(0)" class="w3-button w3-margin-right" style="color:#fff !important; background-color:#050c46 !important" (click)="w3_open()">☰</a>
  <span>Events</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" (click)="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="maths">
    <h1 class="w3-jumbo" style="color:#050c46"><b>Events</b></h1>
    <h1 class="w3-xxlarge" style="color:yellow;"><b>Maths</b></h1>
 
  
  <!-- Photo grid (modal) -->
  <div class="w3-row-padding" >
    <div class="w3-third" *ngFor="let att of maths; let idx = index">
        <ion-card (click)='clickedMaths(idx)'>
          <img src='{{att.eventImg}}'>
          <ion-card-content>
            <ion-card-title>
                {{att.eventName}}
            </ion-card-title>
      
            <p text-end><font size=3><i><b>{{att.eventTagline}} &nbsp;</b></i></font></p>
           <p *ngIf="att.eventMembers!=6"><font size=4>Team size: {{att.eventMembers}}</font></p>
           <p *ngIf="att.eventMembers==6"><font size=4>Team size: Full Team</font></p>
           <ion-label><font size=4> {{att.eventText}}</font></ion-label>
          </ion-card-content>
        
          </ion-card>
    </div>
    </div>
  </div>
   
    <div class="w3-container" style="margin-top:80px" id="aviation">
    
      <h1 class="w3-xxlarge" style="color:yellow;"><b>Aviation</b></h1>
    
   
    <div class="w3-row-padding" >
      <div class="w3-third" *ngFor="let att of aviation; let idx = index">
          <ion-card (click)='clickedAviation(idx)'>
          <img src='{{att.eventImg}}'>
          <ion-card-content>
            <ion-card-title>
                {{att.eventName}}
            </ion-card-title>
      
            <p text-end><font size=3><i><b>{{att.eventTagline}} &nbsp;</b></i></font></p>
            <p *ngIf="att.eventMembers!=6"><font size=4>Team size: {{att.eventMembers}}</font></p>
            <p *ngIf="att.eventMembers==6"><font size=4>Team size: Full Team</font></p>
           <ion-label><font size=4> {{att.eventText}}</font></ion-label>
          </ion-card-content>
        
          </ion-card>
      </div>
    </div>
    </div>
  
    <div class="w3-container" style="margin-top:80px" id="electronics">
      
      <h1 class="w3-xxlarge" style="color:yellow;"><b>Electronics</b></h1>
    
      <div class="w3-row-padding" >
        <div class="w3-third" *ngFor="let att of electronics; let idx = index">
            <ion-card (click)='clickedElectronics(idx)'>
          <img src='{{att.eventImg}}'>
          <ion-card-content>
            <ion-card-title>
                {{att.eventName}}
            </ion-card-title>
      
            <p text-end><font size=3><i><b>{{att.eventTagline}} &nbsp;</b></i></font></p>
            <p *ngIf="att.eventMembers!=6"><font size=4>Team size: {{att.eventMembers}}</font></p>
            <p *ngIf="att.eventMembers==6"><font size=4>Team size: Full Team</font></p>
           <ion-label><font size=4> {{att.eventText}}</font></ion-label>
          </ion-card-content>
        
          </ion-card>
        </div>
      </div>
    </div>


    <div class="w3-container" style="margin-top:80px"  id="phychem">
      <h1 class="w3-xxlarge" style="color:yellow;"><b>Physics and Chemistry</b></h1>
   
        <div class="w3-row-padding">
          <div class="w3-third" *ngFor="let att of phychem; let idx = index">
              <ion-card (click)='clickedPhy(idx,phychem)'>
          <img src='{{att.eventImg}}'>
          <ion-card-content>
            <ion-card-title>
                {{att.eventName}}
            </ion-card-title>
      
            <p text-end><font size=3><i><b>{{att.eventTagline}} &nbsp;</b></i></font></p>
            <p *ngIf="att.eventMembers!=6"><font size=4>Team size: {{att.eventMembers}}</font></p>
           <p *ngIf="att.eventMembers==6"><font size=4>Team size: Full Team</font></p>
           <ion-label><font size=4> {{att.eventText}}</font></ion-label>
          </ion-card-content>
        
          </ion-card>
          </div>

        </div>
    </div>

    <div class="w3-container" style="margin-top:80px"  id="cs">
  
      <h1 class="w3-xxlarge" style="color:yellow;"><b>Computer Science</b></h1>
   
          <div class="w3-row-padding" >
            <div class="w3-third" *ngFor="let att of cs; let idx = index">
                <ion-card (click)='clickedCs(idx)'>
          <img src='{{att.eventImg}}'>
          <ion-card-content>
            <ion-card-title>
                {{att.eventName}}
            </ion-card-title>
      
            <p text-end><font size=3><i><b>{{att.eventTagline}} &nbsp;</b></i></font></p>
            <p *ngIf="att.eventMembers!=6"><font size=4>Team size: {{att.eventMembers}}</font></p>
            <p *ngIf="att.eventMembers==6"><font size=4>Team size: Full Team</font></p>
           <ion-label><font size=4> {{att.eventText}}</font></ion-label>
          </ion-card-content>
        
          </ion-card>
            </div>

          </div>
    </div>

    <div class="w3-container" style="margin-top:80px"  id="fun">
    
      <h1 class="w3-xxlarge" style="color:yellow;"><b>Fun</b></h1>
   
            <div class="w3-row-padding" >
              <div class="w3-third" *ngFor="let att of fun; let idx = index">
                  <ion-card (click)='clickedFun(idx)'>
          <img src='{{att.eventImg}}'>
          <ion-card-content>
            <ion-card-title>
                {{att.eventName}}
            </ion-card-title>
      
            <p text-end><font size=3><i><b>{{att.eventTagline}} &nbsp;</b></i></font></p>
            <p *ngIf="att.eventMembers!=6"><font size=4>Team size: {{att.eventMembers}}</font></p>
           <p *ngIf="att.eventMembers==6"><font size=4>Team size: Full Team</font></p>
           <ion-label><font size=4> {{att.eventText}}</font></ion-label>
          </ion-card-content>
                  </ion-card>
              </div>
          
    </div>
</div> 

</div>

</ion-content>
